<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)] = "username"
         id="username" placeholder="Username">
    </div>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)] = "email"
         id="email" placeholder="Your Email">
    </div>
    <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)] = "password"
         id="password" placeholder="Password">
    </div>
    <div class="form-control">
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" [(ngModel)] = "password2"
         id="password2" placeholder="Confirm Password">
    </div>
    <input type="submit" value="Register" class="btn btn-block">
    <p>{{message}}</p>
</form>



