<nav>
    <div class="logo">
       <img src="../../../assets/logo.png">
    </div>
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a *ngIf = "!loginService.isLoggedIn" routerLink="/register">Register</a>
    <a *ngIf = "!loginService.isLoggedIn" routerLink="/login">Login</a>
    <a *ngIf = "loginService.isLoggedIn" routerLink="/logout">Logout</a>
</nav>
