nav {
    margin: 10px auto 80px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
  }
nav a {
margin-left: 12px;
}
nav a:hover{
  color: tomato;
}
nav .logo {
margin-right: auto;
}
.logo img{
    width: 128px;
    height: 77px;
}