<header>
    <h3 *ngIf = "loginService.isLoggedIn">{{username}} Task List</h3>
    <h3 *ngIf = "!loginService.isLoggedIn">Ninja Task List</h3>
    <app-button-header-task 
        color= "{{showAddTask ? 'red' : 'green'}}"
        text="{{showAddTask ? 'Close' : 'Add'}}"
        (btnClick) = "toggleAddTask()"
    ></app-button-header-task>
</header>
