<app-header-task>
  
</app-header-task>
<app-add-ninja-task
(onAddTask)="addTask($event)"
>
</app-add-ninja-task>
<app-ninja-tasks-item
*ngFor="let task of tasks"
  [task]="task"
  (onDeleteTask)="deleteTask(task)"
  (onToggleReminder)="toggleReminder(task)"
>

</app-ninja-tasks-item>